// APP
export const API_PORT = 8080;

// OPENAI
export const endpoint = "https://api.openai.com/v1/engines/text-davinci-003/completions";
export const model = 'text-davinci-003';
export const temperature = 0.7;
export const max_tokens = 1024;
export const OPENAI_API_KEY = '';

// AUTHORIZED SENDERS
export const SENDERS_AUTHORIZED = ['Alice', 'Bob'];
